<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- Carousel wrapper -->
<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img
        src="https://www.comparaassist.com/static/banner-home-14f79a6d4d6e10b3a03b6acb50c9e9aa.jpg"
        class="d-block w-100"
        alt="Banner"
      />
      <div class="carousel-caption d-none d-md-block text-dark">
        <h4>Bienvenido a la WebApp</h4>
      </div>
    </div>
</div>
<!-- Carousel wrapper -->