
<div *ngIf="products!=null; else espera">
  <table border="1">
    <tr>
      <td>Codigo</td>
      <td>Nombre</td>
      <td>Precio</td>
      <td>Disponibilidad</td>
      <td>Best Seller</td>
      <td>Categorias</td>
      <td>Imagen</td>
      <td>Descripcion</td>
    </tr>
    <tr *ngFor="let prod of products.products">
      <td>{{prod.id}}</td>
      <td>{{prod.name}}</td>
      <td>{{prod.price}}</td>
      <td>{{prod.available}}</td>
      <td>{{prod.best_seller}}</td>
      <td>{{prod.categories}}</td>
      <td>
        <img src="{{prod.img}}" width="30px" class="img-fluid" alt="{{prod.name}}">
      </td>
      <td>{{prod.description}}</td>
    </tr>
  </table>
</div>
<ng-template #espera>Esperando datos...</ng-template>