.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://www.comparaassist.com/static/faq-banner-6fe9c00f9aff6aa4040a6a4ee33b8e27.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
